#---------------------------------------
# Tenancy Connectivity Variables
#---------------------------------------

tenancy_ocid         = "ocid1.tenancy.xxx" # Get this from OCI Console (after logging in, go to top-right-most menu item and click option "Tenancy: <your tenancy name>").
user_ocid            = "ocid1.user.xxx"    # Get this from OCI Console (after logging in, go to top-right-most menu item and click option "My profile").
fingerprint          = ""                                 # The fingerprint can be gathered from your user account. In the "My profile page, click "API keys" on the menu in left hand side.
private_key_path     = ""                                                                  # This is the full path on your local system to the API signing private key.
private_key_password = ""                                                                                # This is the password that protects the private key, if any.
region               = ""

autonomous_databases_configuration = {
  default_compartment_id ="<REPLACE-WITH-OCID>"

  databases = {
    TEST-ATP = {
      db_name                         = "VisionTestATP01"
      admin_password_secret_id        = "ADB-ADMIN-PASSWORD"
      db_workload                     = "DW"
      is_dedicated                    = false
      networking = {
        subnet_id               = "CLIENT-SUBNET"
        enable_private_endpoint = true
        private_endpoint_ip     = "172.16.0.25"
        network_security_groups = ["CLIENT-NSG", "BACKUP-NSG"]
      }
      security = {
        tde = {
          existing_oci_vault_id          = "VAULT-1"
          existing_oci_encryption_key_id = "KEY-1"
          deploy_iam_policy_and_dyn_group_for_encryption_key = false
          deploy_new_oci_encryption_key                      = false
        }
      }
    }
  }
}

secrets_dependency = {
  ADB-ADMIN-PASSWORD = {
    id = "<REPLACE-WITH-ADMIN-PASSWORD-SECRET-OCID>"
  }
}

vaults_dependency = {
  VAULT-1 = {
    id = "<REPLACE-WITH-VAULT-OCID>"
  }
}

kms_dependency = {
  KEY-1 = {
    id = "<REPLACE-WITH-KEY-OCID>"
  }
}

network_dependency = {
  subnets = {
    CLIENT-SUBNET = {
      id = "<REPLACE-WITH-OCID>"
    }
  }
  network_security_groups = {
    CLIENT-NSG = {
      id = "<REPLACE-WITH-OCID>"
    }
    BACKUP-NSG = {
      id = "<REPLACE-WITH-OCID>"
    }
  }
}
