#---------------------------------------
# Tenancy Connectivity Variables
#---------------------------------------

tenancy_ocid         = "ocid1.tenancy.xxx" # Get this from OCI Console (after logging in, go to top-right-most menu item and click option "Tenancy: <your tenancy name>").
user_ocid            = "ocid1.user.xxx"    # Get this from OCI Console (after logging in, go to top-right-most menu item and click option "My profile").
fingerprint          = ""                                 # The fingerprint can be gathered from your user account. In the "My profile page, click "API keys" on the menu in left hand side.
private_key_path     = ""                                                                  # This is the full path on your local system to the API signing private key.
private_key_password = ""                                                                                # This is the password that protects the private key, if any.
region               = ""

autonomous_databases_configuration = {
  default_compartment_id = "<REPLACE-WITH-OCID>"
  databases = {
    TEST-ATP = {
      db_name                    = "TESTATP11191043"
      admin_password             = "<REPLACE-WITH-STRONG-PASSWORD>"
      is_dedicated               = true
      autonomous_container_db_id = "<REPLACE-WITH-OCID>"
    }
  }
}
